@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
  --skin-color:#01b3fa; 
  --bg-black-900:#ffffff;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec;
  --text-black-900:#151515;
  --text-black-700:#5a596c;
  --box-shadow:.4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem #fff;
  --box-shadow-inset:.4rem .4rem 1rem #ccc inset, -.4rem -.4rem 1rem #fff inset;
  --bg-footer:#eeecec;
  --bgc:#ffffff;
  --bgall:rgb(105, 102, 102);
}
body.dark
{
  --bg-black-900:#151515;
  --bg-black-100:#222222;
  --bg-black-50:#393939;
  --text-black-900:#ffffff;
  --text-black-700:#e9e9e9;
  --box-shadow:.3rem .3rem 1rem rgb(83, 78, 78), -.3rem -.3rem 1rem rgb(89, 88, 88);
  --box-shadow-inset:.3rem .3rem 1rem rgb(83, 78, 78) inset, -.3rem -.3rem 1rem rgb(89, 88, 88) inset;
  --bg-footer:#e3dfdf;
  --bgc:#f1f0f0;
  --bgall:#f1f0f0;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--skin-color);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:var(--bg-black-900);
  color:var(--skin-color);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--skin-color);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--skin-color);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover{
  background: #ffffff;
  color:var(--skin-color);
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:var(--text-black-900);
  height: 74px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  margin-top: 5px;
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:var(--skin-color);
}

header .navbar a{
  color:var(--bg-black-900);
  font-size: 2.2rem;
  margin:0 .8rem;
  font-weight: 610;
}

header .navbar a:hover{
  color:var(--skin-color);
}

header .icons i{
  font-size: 2.5rem;
  color:var(--bg-black-900);
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--skin-color);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--skin-color);
}

/** ----------------------------------------------- LOGIN & REGISTER FORM -------------------------------------------------------------------*/

.login-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active{
  top:0;
}

.login-form-container .container
{
    height:460px;
    width:350px;
    background: rgba(109, 105, 105, 0.5);  /*--------------background: rgba(0,0,0,.5); ---------------*/
    position: relative;
    overflow: hidden;
    color: white;
}

.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

.login-form-container .container .button
{
    height:70px;
    width:300px;
    position: relative;
    margin: 25px;
    border-radius: 60px;
    box-shadow: 3px 3px 5px #434343,-3px -3px 5px #000000;
}
.login-form-container .container .button .btn-login
{
  text-align: center;
    height:70px;
    width:150px;
    background: transparent;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color:rgba(255,255,255,1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    z-index: 1;
    cursor: pointer;
}
.login-form-container .container .button .btn-register
{
    height:70px;
    width:150px;
    background: transparent;
    position: absolute;
    top:0;
    left:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color:rgba(255,255,255,1);
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    z-index: 2;
    cursor: pointer;
}
.login-form-container .container .button .toggle-btn
{
    height:70px;
    width:150px;
    background: linear-gradient(#434343,#000000);
    position: absolute;
    top:0;
    left:0;
    transform: 0.5s;
    border-radius: 60px;
    transition:0.5s;
}
.login-form-container .container .form .login
{
    text-align: center;
    height:350px;
    width:330px;
    position: absolute;
    transition: 0.5s;
    padding: 20px;
}
.login-form-container .container .form .user-box input[type="text"],input[type="email"],input[type="password"]
{
    height:45px;
    box-sizing: border-box;
    border:none;
    outline:none;
    background: transparent;
    color:#ffffff;
    font-size: 14px;
    padding: 0px 10px;
    border-bottom: 1px solid #ffffff;
}
.login-form-container .container .form .register
{
    text-align: center;
    left:350px;
    height:350px;
    width:330px;
    position: absolute;
    transition: 0.5s;
    padding: 20px;
}

.login-form-container .container .form .user-box {
    position: relative;
    }
    
    .login-form-container .container .form .user-box input { 
        width: 83%; 
        padding: 10px ; 
        font-size: 16px; 
        color: #fff; 
        margin-bottom: 30px; 
        border: none; 
        border-bottom: 1px solid #fff; 
        outline: none; 
        background: transparent;
    }
    .login-form-container .container .form .user-box label{
        position: absolute; 
        top:0; 
        left: 15px; 
        padding: 10px; 
        font-size: 18px; 
        color: #fff; 
        pointer-events: none; 
        transition: .5s;
    }
    
    .login-form-container .container .form .user-box input:focus ~ label, 
    .login-form-container .container .form .user-box input:valid ~ label {
        top: -20px; 
        left: 15; 
        color: #03e9f4; 
        font-size: 16px;
    }
    
    .login-form-container .container .form .login button[type="submit"]{
        text-align: center;
        position: relative; 
        display: inline-block; 
        padding: 15px 20px; 
        color: #03e9f4; 
        font-size: 16px; 
        text-decoration: none; 
        text-transform: uppercase; 
        overflow: hidden; 
        transition: .5s;
        letter-spacing: 4px;
        box-shadow: 3px 3px 5px #434343,-3px -3px 5px #000000;
        background: linear-gradient(#434343,#000000);
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        height:50px;
        width:50%;
        margin: 35px 25px 0px 30px; 
    }
    .login-form-container .container .form .register button[type="submit"]{
        text-align: center;
        position: relative; 
        display: inline-block; 
        padding: 15px 20px; 
        color: #03e9f4; 
        font-size: 16px; 
        text-decoration: none; 
        text-transform: uppercase; 
        overflow: hidden; 
        transition: .5s;
        letter-spacing: 4px;
        box-shadow: 3px 3px 5px #434343,-3px -3px 5px #000000;
        background: linear-gradient(#434343,#000000);
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        height:50px;
        width:50%;
        margin: 15px 25px 0px 30px; 
    }
    
    .login-form-container .container .form .login button[type="submit"]:hover { 
        background: #83e9f4; 
        color: #fff; 
        border-radius: 5px; 
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4, 
                    0 0 5px #03e9f4,
                    0 0 100px #03e9f4;
    }
    
    .login-form-container .container .form .login button[type="submit"] span {
        position: absolute; 
        display: block;
    }
    
    .login-form-container .container .form .login button[type="submit"] span:nth-child(1) {
        top: 0; 
        left: -100%; 
        width: 100%; 
        height: 2px; 
        background: linear-gradient(98deg, transparent, #03e9f4); 
        animation: btn-anim1 1s linear infinite;
    }

    
    .login-form-container .container .form .register button[type="submit"]:hover { 
        background: #83e9f4; 
        color: #fff; 
        border-radius: 5px; 
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4, 
                    0 0 5px #03e9f4,
                    0 0 100px #03e9f4;
    }
    
    .login-form-container .container .form .register button[type="submit"] span {
        position: absolute; 
        display: block;
    }
    
    .login-form-container .container .form .register button[type="submit"] span:nth-child(1) {
        top: 0; 
        left: -100%; 
        width: 100%; 
        height: 2px; 
        background: linear-gradient(98deg, transparent, #03e9f4); 
        animation: btn-anim1 1s linear infinite;
    }

    @keyframes btn-anim1 {
        0%{
            left: -100%;
        }
        50%, 100%{
            left: 100%;
        }
    }
    
    .login-form-container .container .form .login button[type="submit"] span:nth-child(2) {
        top:-100%; 
        right: 0; 
        width: 2px; 
        height: 100%; 
        background: linear-gradient(180deg, transparent, #03e9f4); 
        animation: btn-anim2 1s linear infinite; 
        animation-delay: .25s
    }
    .login-form-container .container .form .register button[type="submit"] span:nth-child(2) {
        top:-100%; 
        right: 0; 
        width: 2px; 
        height: 100%; 
        background: linear-gradient(180deg, transparent, #03e9f4); 
        animation: btn-anim2 1s linear infinite; 
        animation-delay: .25s
    }
    
    @keyframes btn-anim2 { 
        0% {
        top: -100%;
        }
        50%, 100% {
        top: 100%;
        }
    }
    
    .login-form-container .container .form .login button[type="submit"] span:nth-child(3) {
        bottom:0;
        right: -100%; 
        width: 100%; 
        height: 2px; 
        background: linear-gradient(270deg, transparent, #03e9f4); 
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
    }
    .login-form-container .container .form .register button[type="submit"] span:nth-child(3) {
        bottom:0;
        right: -100%; 
        width: 100%; 
        height: 2px; 
        background: linear-gradient(270deg, transparent, #03e9f4); 
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
    }
    
    @keyframes btn-anim3{
        0%{
            right:-100%;
        }
        50%, 100% {
            right: 100%;
        }
    }
    
    .login-form-container .container .form .login button[type="submit"] span:nth-child(4){
        bottom: -100%; 
        left: 0; 
        width: 2px; 
        height: 100%; 
        background: linear-gradient(360deg, transparent, #03e9f4); 
        animation: btn-anim4 1s Linear infinite; 
        animation-delay: .75s
    }
    .login-form-container .container .form .register button[type="submit"] span:nth-child(4){
        bottom: -100%; 
        left: 0; 
        width: 2px; 
        height: 100%; 
        background: linear-gradient(360deg, transparent, #03e9f4); 
        animation: btn-anim4 1s Linear infinite; 
        animation-delay: .75s
    }
    
    @keyframes btn-anim4{
        0%{
            bottom:-100%;
        }
        50%, 100% {
            bottom: 100%;
        }
    }
    
/*-------------------------login end--------------------------------------------*/




#menu-bar{
  color:var(--bg-black-900);
  border:.1rem solid var(--bg-black-50);
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color:var(--bg-black-900);
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 2.5rem;
  color:var(--bg-black-900);
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:var(--skin-color);
}

.book{
  background: var(--bgall);
}
.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.book .row .image{
  flex:1 1 40rem;
}

.book .row .image img{
  width:100%;
}

.book .row form{
  flex:1 1 40rem;
  padding:2rem;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(63, 63, 63, 0.1);
}

.book .row form .inputBox{
  padding:.5rem 0;
}

.book .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:var(--bg-black-100);
}
.packages{
  background: var(--bgall);
}
.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
}

.packages .box-container .box:hover{
  box-shadow: 0 1rem 2rem var(--bg-black-100);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:var(--bg-black-100);
}

.packages .box-container .box .content h3 i{
  color:var(--skin-color);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  color: var(--bg-black-50);
  padding:1rem 0;
  text-align: justify;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--skin-color);
}

.packages .box-container .box .content .price{
  font-size: 1.5rem;
  color:var(--bg-black-900);
  padding-top: 1rem;
}

.services{
  background: var(--bgall);
}
.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.services .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}
.services .box-container .box .content{
  padding:2rem;
}

.services .box-container .box .content h3{
  font-size:2rem;
  color:var(--bg-black-100);
}

.services .box-container .box .content p{
  font-size:1.5rem;
  color:var(--bg-black-50);
  padding:1rem 0;
  text-align: justify;
}

.services .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--skin-color);
}
/* 
.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(5, 5, 5, 0.1);
} */

/*-------------about us ------------------*/

.about{
  background: var(--bgall);
}
.about .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.about .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.about .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.about .box-container .box .content p{
  font-size:1.5rem;
  color:var(--bg-black-50);
  text-align: justify;
}



/*---------------about us end-----------------*/

.gallery{
  background: var(--bgall);
}
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 25rem;
  position: relative;
}

.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  top:0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--skin-color);
}

.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding:.5rem 0;
}
/*-------------------------end gallery-------------------------*/
.review{
  background: var(--bgall);
}
.review .review-slider{
  padding-bottom: 2rem;
}

.review .box{
  background: #ffffff;
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.review .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  color:#333;
  font-size: 2.5rem;
}

.review .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}

.review .box .stars i{
  color:var(--skin-color);
  font-size: 1.7rem;
}
/*------------------review end---------------------------*/

.contact{
  background: var(--bgall);
}
.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

.brand-container{
  background: #ffffff;
}
.brand-container{
  text-align: center;
}

.brand-container .swiper-container .swiper-wrapper .swiper-slide img{
  height: 100px;
}
/*---------------------------------*/
.footer{
  background: var(--bg-footer);
}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap:2rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: #222222;
  padding: 1rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color: #222222;
  padding: 1rem 0;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:var(--skin-color);
}

.footer .box-container .box a:hover i{
  padding-right:2rem;
}

.footer .credit{
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #151515;
  border-top: .1rem solid rgb(162, 160, 160);
}

.footer .credit span{
  color:var(--skin-color);
}






















/* media queries  */

@media (max-width:1255px){

  html{
    font-size: 55%;
  }

}

@media (max-width:1123px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:955px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: var(--text-black-700);
    border-top: .1rem solid var(--bg-black-50);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:var(--text-black-900);
  }

}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}


